<footer class="footer">
<div class="container">
  <div class="row-fluid">
    <div class="span2"><p> &copy; Oh My Green! 2013</p></div>

    <div class="span10"><p><a class="btn btn-inverse signup pull-right">Back to Top <i class="icon-chevron-up"></i></a></p></div>
  </div>
</div>
</footer>
