<header>
<div class="navbar navbar-fixed-top" >
  <div class="navbar-inner white-transparency front-page" style="height:auto; padding-top:0;padding-bottom:0">
    <div class="container">
      <div style="">
        <a href="<%= root_url %>" class="brand" style="margin:-16px 0 -16px -20px;"><img src="<%= image_path('ohmygreen_logo_square.png') %>" alt="Oh My Green! Logo"/></a>
      </div>
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse ">
          <ul id="navi" class="nav">
            <li><a class="about" style="cursor:pointer">About us</a></li>
            <!-- <li><a href="http://blog.ohmygreen.com/" target="blank">Why Organic?</a></li> -->
            <li><a href="http://blog.ohmygreen.com/" target="blank">Our Blog</a></li>
            <li><a href="http://support.ohmygreen.com" target="blank">Contact us</a></li>
            <li><a href="http://support.ohmygreen.com/knowledgebase" target="blank">More</a></li>
          </ul>
          <div class="pull-right" style="padding:10px 0 10px 0;">
            <ul class="social-small-grid">
              <a href="http://www.facebook.com/ohmygreen1" target="blank">
                <li>
                <div class="social-small-item">
                  <div class="social-small-info-wrap">
                    <div class="social-small-info">
                      <div class="social-small-info-front">
                        <div class="social-small-facebook"></div>
                      </div>
                      <div class="social-small-info-back">
                        <div class="social-small-facebook-hover"></div>
                      </div>
                    </div>
                  </div>
                </div>
                </li>
              </a>
              <a href="http://www.pinterest.com/ohmygreen" target="blank">
                <li>
                <div class="social-small-item">
                  <div class="social-small-info-wrap">
                    <div class="social-small-info">
                      <div class="social-small-info-front">
                        <div class="social-small-pinterest"></div>
                      </div>
                      <div class="social-small-info-back">
                        <div class="social-small-pinterest-hover"></div>
                      </div>
                    </div>
                  </div>
                </div>
                </li>
              </a>
              <a href="http://www.twitter.com/ohmygreen1" target="blank">
                <li>
                <div class="social-small-item">
                  <div class="social-small-info-wrap">
                    <div class="social-small-info">
                      <div class="social-small-info-front">
                        <div class="social-small-twitter"></div>
                      </div>
                      <div class="social-small-info-back">
                        <div class="social-small-twitter-hover"></div>
                      </div>
                    </div>
                  </div>
                </div>
                </li>
              </a>
              <a href="http://blog.ohmygreen.com" target="blank">
                <li>
                <div class="social-small-item">
                  <div class="social-small-info-wrap">
                    <div class="social-small-info">
                      <div class="social-small-info-front">
                        <div class="social-small-tumblr"></div>
                      </div>
                      <div class="social-small-info-back">
                        <div class="social-small-tumblr-hover"></div>
                      </div>
                    </div>
                  </div>
                </div>
                </li>
              </a>
            </ul>
          </div>
          <!-- <div class="fb-like grey pull-right" style="margin-top:15px;margin-right:-50px;" data-href="http://www.facebook.com/ohmygreen1" data-send="false" data-width="30" data-show-faces="false"></div> -->
        </div>
      </div>
    </div>
  </div>
</div>
</header>
