<meta name="author" content="Oh My Green! (also known as ohmygreen or omg!)">
<meta name="description" content="Oh My Green! We are your organic and non-GMO online grocery store. We make it easy to discover, buy, and share foods you love!">
<meta name="keywords" content="buy healthy products, buy healthy food, buy organic food, buy healthy and organic food, buy organic products, buy non-GMO food, buy non-GMO products, purchase organic, purchase non GMO, organic and non-gmo, ohmygreen, ohmygreen1, ohmygreen!, oh my green, oh my green!, omg, omg!, omg1, green products, sustainable products, share goods with integrity, discover products you love, hand selected organic products">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="I am supporting Oh My Green!’s mission to live a healthy and blissful life!" />
<meta property="og:type" content="website" />
<meta property="og:url" content="<%= root_url %>" />
<meta property="og:image" content="<%= image_url('ohmygreen_logo_square.png') %>" />
<meta property="og:description" content="Oh My Green: We are your organic and non-GMO online grocery store, We make it easy for you to discover, buy, and share foods you love!" />
<meta property="og:site_name" content="Oh My Green" />
<link rel="shortcut icon" href="<%= image_path('ohmygreen_logo_icon.png') %>">
