<form id="email_registration" class="form-inline" method="post" action="/email-signup" enctype="application/x-www-form-urlencoded">
    <input type="text" style="margin-bottom:10px" class="span12" placeholder="Full name" id="name" name="first_name" value="" tabindex="1" /><br>
        <div class="row-fluid">
        <div class="span8">
          <input class="span12 pull-left" id="email" type="text" name="email" placeholder="Email" value="" tabindex="2">
        </div>
        <div class="span4">
          <button class="span12 btn login-button pull-right" type="submit">Sign up</button>
        </div>
        </div>
</form>
<!--[if IE]>
<script>
    // placeholder script for IE
    $(document).ready(function (){
        form_inputs = $('form#email_registration').find('input');
        form_inputs.each(function (index) {

            // fill in fields first time
            if($(this).val() == '') {
                $(this).val($(this).attr('placeholder'));
            }

            // empty field when focus
            $(this).focus(function () {
                if($(this).val() == $(this).attr('placeholder')) {
                    $(this).val('');
                }
            });

            // fill empty field with placeholder text when blur
            $(this).blur(function () {
                if($(this).val() == "") {
                    $(this).val($(this).attr('placeholder'));
                }
            });
        });
    });
</script>
<![endif]-->
