/* Social Icons - circle small
=================================================================== */
.social-small-grid {
  position: inherit;
  margin: 0px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}
.social-small-grid li {
  float: left;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin: 6px 6px;
}
.social-small-grid li a {
  width: 24px;
  height: 24px;
  display: block;
}
.social-small-item {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  border: 0px solid #fff;
  cursor: pointer;
  /*behavior: url(/ui/styles/border-radius.htc);*/
}
.social-small-info-wrap {
  /*position: absolute;*/
  width: 22px;
  height: 22px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 0 3px #f6f6f6, inset 0 0 3px #f6f6f6;
  /*behavior: url(/ui/styles/border-radius.htc);*/
}
.social-small-info {
  position: absolute;
  width: 24;
  height: 24;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /*behavior: url(/ui/styles/border-radius.htc);*/
}
.social-small-info .social-small-info-back > div {
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 0px solid #fff;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  /*behavior: url(/ui/styles/border-radius.htc);*/
}
.social-small-info .social-small-info-front > div {
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 0px solid #fff;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  behavior: url(/ui/styles/border-radius.htc);
}
.social-small-info .social-small-info-back > div {
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  -moz-transform: rotate3d(0, 1, 0, 180deg);
  -o-transform: rotate3d(0, 1, 0, 180deg);
  -ms-transform: rotate3d(0, 1, 0, 180deg);
  transform: rotate3d(0, 1, 0, 180deg);
  margin-top: 0px;
  margin-left: 0px;
}
.social-small-facebook {
  background-image: url(../img/icons/social_small/facebook_grey.png);
}
.social-small-facebook-hover {
  background-image: url(../img/icons/social_small/facebook_white.png);
}
.social-small-tumblr {
  background-image: url(../img/icons/social_small/tumblr_grey.png);
}
.social-small-tumblr-hover {
  background-image: url(../img/icons/social_small/tumblr_white.png);
}
.social-small-twitter {
  background-image: url(../img/icons/social_small/twitter_grey.png);
}
.social-small-twitter-hover {
  background-image: url(../img/icons/social_small/twitter_white.png);
}
.social-small-pinterest {
  background-image: url(../img/icons/social_small/pinterest_grey.png);
}
.social-small-pinterest-hover {
  background-image: url(../img/icons/social_small/pinterest_white.png);
}
.social-small-info > div > div {
  background-color: transparent;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
}