@charset "utf-8";

/* =================+========================================================
   Author: Michael Heinrich
   ========================================================================== */
/* Adding Google Web Fonts */
@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700|Lobster+Two:700,700italic');

body * { 	font-family: 'Lato', sans-serif;}
/* Variables */
@OMGgreen: #88C224;
@black: #222222;
.green {color:@OMGgreen;}
.roundTransperentBorder {}
.center {text-align:center}
.left {text-align:left !important}
.black {color:@black}
.white {color:white !important}
blockquote {font-size: 12pt;}

/* Text Elements */
h1 {color:white; font-size:52pt; font-weight:100; line-height:60pt; font-family: 'Lobster Two', cursive; font-weight:700; font-style:italic; line-height:80px;}
h2 {color:#FFFFFF; font-weight:700; font-size:22px; line-height:38px; text-transform:uppercase;letter-spacing:1px;}
h3 {color:#FFFFFF; font-weight:400; font-size:16px}
h4 {color:#FFFFFF;}
h5 {color:#FFFFFF;}
h6 {color:#FFFFFF;}
.h1lobster {text-align: right; font-size:60px;font-family: 'Lobster Two', cursive; font-weight:700; font-style:italic;}
.lobster700 {font-family: 'Lobster Two', cursive; font-weight:700;}

p,ol li {
  font-weight:300;
  font-size:12pt;
  line-height:20pt;
}
a {color:@OMGgreen;
  &:hover {
  color: darken(@OMGgreen, 20%);
  text-decoration: none;
  }
}
p { color:white;
  a { color:#FFFFFF; text-decoration:underline;
  }
  a:hover { color:#FFF;text-decoration:none;
  }
  a.btn {
  text-decoration:none!important;
  }
}

/* Custom Styles */
.sharing {
padding:30px 50px 30px 50px; 
-moz-background-clip: padding;     /* Firefox 3.6 */
-webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
border: 10px solid rgba(0,0,0,0.3) !important;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}
.aol, .gmail, .yahoo, .outlook {text-align:center !important; color: @black !important;
  &:hover {color:@OMGgreen}
}
.logout {margin-right:-40px; margin-top:-20px}
.pointer {cursor:pointer;}
.hidden {display:none;}
.thumbnail {
  img {width:100% }
}
.principle {
  text-transform: uppercase; 
  font-size:22px;
  line-height:36px;
  letter-spacing:2px;
 .initial {
  float:left;
  font-weight:bold;
  margin-right:3px;
  color:@black;
  text-align:center;
  }
 .non-initial {
  float:left;
  color:#fff;
  
  }
}

.white-transparency {background: url(/assets/bg/white.png) repeat;}
.subscript {text-align:right;font-size:12px; margin-top:-22px; margin-bottom:30px; text-transform:uppercase}
.thumbnail {border-color:white}
.shadow {  text-shadow:2px 1px 0 rgba(0, 0, 0, 0.45)}
.wshadow {  text-shadow:1px 1px 0 rgba(0, 0, 0, 1)}
.squeeze {line-height:35px;}
.front {padding-bottom:30px;font-size:16px;letter-spacing: 1px; text-transform:uppercase;}
.intro {text-align:right;font-weight:400;letter-spacing:1px; font-family: 'Lobster Two', cursive; font-style:italic; font-size:32px; line-height:38px}
.odyssey {background: url(/assets/odyssey.png) no-repeat; width: 274px;height: 39px; float:right; margin-top:-95px; margin-right:-47px; cursor:pointer;}
.bracketContainer {margin:30px 0 50px 0;vertical-align: middle;}
.bracketText {color:@OMGgreen; font-size:14px; font-weight:400;width:255px; text-align:center;vertical-align: middle;margin-top:-14px}
.brackets {color:white; font-size:80px; font-family: 'Lobster Two'; font-weight:700;width:10px;vertical-align: middle;margin:5px}
.product-images {margin:-14px -3px 0 0px; cursor:pointer; 
  img {border: 3px solid #fff; margin-right: 10px;
    &:hover {border:3px solid @OMGgreen}
    &:last-child {margin-right:0px}
  }}
button.close { margin-top: -20px !important; margin-right:-20px !important;}
.circular {   width: 300px; height: 300px;  border-radius: 150px;  -webkit-border-radius: 150px;  -moz-border-radius: 150px;}

/* Tables */
.progress-bar {font-weight:200;
  td {text-align: right !important; width:25%;
  i {position:absolute;margin-left:38px; margin-top:-14px}
  }
}
.highlight { font-size: 0.8em;
  td:first-child {color:#999;}
}
.progress {margin-bottom:10px;}

.justify {text-align:justify;}
.pointer {cursor:pointer}
.home {background: url(/assets/home.png) no-repeat; text-align: right; width: 100px; height: 39px; padding: 7px 30px 0 0px; cursor: pointer; margin: -20px -25px 0 0;}
//div.tooltip {width:270px}

/* Buttons */
.btn-success {
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, @OMGgreen, #51a351);
  background-image: -ms-linear-gradient(top, @OMGgreen, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@OMGgreen), to(#51a351));
  background-image: -webkit-linear-gradient(top, @OMGgreen, #51a351);
  background-image: -o-linear-gradient(top, @OMGgreen, #51a351);
  background-image: linear-gradient(top, @OMGgreen, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=@OMGgreen, endColorstr='#51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {

  // Focus state
  &:focus {
    border-color: @OMGgreen;
  }
}

input.search-query {margin-left:8px;}
  // Navbar search
  .navbar-search {
    .search-query {
      width:50px;
      background:#F4F4F4;
      &:focus,
      &.focused {
        //.box-shadow(0 0 3px @OMGgreen);
        background:white;
      }
    }
  }
//filter for buttons
.grey {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
  -webkit-transition: all .7s ease;
  /* Fade to color for Chrome and Safari */
  -webkit-backface-visibility: hidden;
  /* Fix for transition flickering */
}
.grey:hover {  filter: none;  -webkit-filter: grayscale(0%); }
.at300bo, .at300b { margin-right: 24px;}

/* ____________ Page elements __________.
/* pages */
#home {
  height: 500px auto;
}
#mission {
	background: url(/assets/bg/blissful.jpg) no-repeat center center fixed;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	color: @black;
	height: 900px auto;
	/*padding: 160px 0 0 0;*/
  .hero-unit {margin-top:200px; background: url(/assets/bg/white.png); border:8px solid #f6f6f6; h1 {color: @black !important; line-height:70px;}
  border:none !important;
      -moz-background-clip: padding;     /* Firefox 3.6 */
      -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
      background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
             
      border: 10px solid rgba(0,0,0,0.3) !important;
            
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px; 
  }
}

#welcome {
  background: #88C224;
  margin: 0 auto;
  height:auto;
  /*padding: 100px 0 200px 0;*/
}
#story {
  background: url(/assets/bg/story.png) repeat;
	color: @black;
	margin: 0 auto;
	overflow:hidden;
	height:1500px auto;
	/*padding: 60px 0 0 0;*/
}
#story p, #story h1, #story h2, #story h3, #story h4, #story h5, #story h6 {color: @black;text-align:justify}
#welcome p, #welcome h1, #welcome h2, #welcome h3, #welcome h4, #welcome h5, #welcome h6 {color:white;}
//#story h1, #welcome h1, #team h1, #principles h1 {text-transform:uppercase;}

#team {
	background: #88C224;
	color: white;
	height:auto;
	overflow:hidden;
	/*padding: 60px 0 0 0;*/
}
#principles {
	background: url(/assets/bg/wood.png) 50% 0 repeat fixed/*#333*/;
	margin: 0 auto;
	height:1400px auto;
	/*padding: 40px 0 0 0;*/
}

/* Navigation */
.navbar-fixed-top {
  position:fixed;
  margin-bottom: 18px;
}
.nav-tabs > li > a, .nav-pills > li > a {
  color:@OMGgreen
}
.navbar {
  .front-page {margin-bottom: -10px;
  }
  .nav-collapse {margin-top:5px;}
  .nav > li > a {padding:15px ; color: #444 !important; border-top:4px solid transparent; 
    &:hover {color:@OMGgreen !important; }
  }
  .brand {font-weight:500;color:white;font-family: 'Lobster Two', cursive; font-weight:700;margin-left:0;text-align:left;}
  .black-transparency {background: url(/assets/bg/black.png) repeat; height:22px;
     .nav a {text-transform:uppercase;letter-spacing:2px;font-weight:300; font-size:10px;
     //adding padding around black highlight
     padding-top: 20px; padding-bottom: 20px; margin-top: -10px;
      &:hover {color:@OMGgreen}
    }
    
  }
  
  .white-transparency {padding:0px !important; background: url(/assets/bg/white-header.png) repeat; height:36px;border-bottom:none;  
      -moz-background-clip: padding;     /* Firefox 3.6 */
      -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
      background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
             
      border-bottom: 10px solid rgba(0,0,0,0.3) !important;
            
    .nav a {color:white; text-transform:uppercase;letter-spacing:1px;font-weight:700 !important;  font-size:14px !important; text-shadow:none;
    }
   .active > a { background: @OMGgreen; color: white !important; 
   &:hover {background:@OMGgreen;color:white!important;    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;}
   -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
   }     
  }
  .no-transparency {background: none; height:36px;border-bottom:none; padding-top:none; 
    .nav a {color:white !important; text-shadow: none ; text-transform:uppercase;letter-spacing:2px;font-weight:300; font-size:12px;
      &:hover {color:@OMGgreen}
    }
         -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .navbar-inner {
    //padding-top:10px; padding-bottom:34px;
  }
  .logo-back .logo-front {
    width: 79px;
    height: 79px;
    padding: 23px 12px;}
  .logo-front {margin: 0px 0px -8px -2px; z-index:3;}
  .logo-back {background: url(/assets/logo-back.png) no-repeat; width: 79px; height: 79px; z-index:1; position: relative;
  /*margin: -18px 40px 0 -15px;*/
  top: -5px;
  left: -15px;
  float: left;}
  .logo {background: url(/assets/logo.png) no-repeat; width: 79px; height: 79px; z-index:1; position: relative;margin-top:-5px}
  .container-fluid {padding:0px} 
}
/* footer */
.footer {
  background:@black;
  p {font-size:11pt;}
  padding: 14px 15px 15px;
  margin-bottom: 0;
}
.footer p, .footer h1, .footer h2, .footer h3, .footer h4, .footer h5, footer h6 {
  color:#FFFFFF;
}

/* Social Icons - circle small
=================================================================== */
.facebook { background: url(/assets/icons/facebook.png) no-repeat; width:50px; height:54px; margin:-10px 5px 0px -5px; float:left}
.social-small-grid {
  margin: 0px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}

.social-small-grid li {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin: 6px 6px;
}

.social-small-grid li a{
  width: 24px;
  height: 24px;
  display:block;
}


.social-small-item {
  width: 24px;
  height: 24px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  cursor: pointer;
}

.social-small-info-wrap{
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;

  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  box-shadow:
    0 0 0 3px #f6f6f6,
    inset 0 0 3px rgba(246,246, 246, 1);

}

.social-small-info{
  position: absolute;
  width: 22px;
  height: 22px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;

}

.social-small-info > div > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: center center;
  border: 1px solid #fff;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.social-small-info .social-small-info-back > div {
  -webkit-transform: rotate3d(0,1,0,180deg);
  -moz-transform: rotate3d(0,1,0,180deg);
  -o-transform: rotate3d(0,1,0,180deg);
  -ms-transform: rotate3d(0,1,0,180deg);
  transform: rotate3d(0,1,0,180deg);
  margin-left: -2px;
}

.social-small-item:hover .social-small-info-wrap {
  box-shadow:
    0 0 0 0 rgba(255,255,255,0.8),
    inset 0 0 3px rgba(246,246, 246, 1);
}

.social-small-item:hover .social-small-info {
  -webkit-transform: rotate3d(0,1,0,-180deg);
  -moz-transform: rotate3d(0,1,0,-180deg);
  -o-transform: rotate3d(0,1,0,-180deg);
  -ms-transform: rotate3d(0,1,0,-180deg);
  transform: rotate3d(0,1,0,-180deg);
}

.social-small-facebook {
  background: #ffffff url(/assets/icons/social_small/facebook_grey.png) no-repeat;
}

.social-small-facebook-hover {
  background: @OMGgreen url(/assets/icons/social_small/facebook_white.png) no-repeat; //#3b5998
}
.social-small-tumblr {
  background: #ffffff url(/assets/icons/social_small/tumblr_grey.png) no-repeat;
}

.social-small-tumblr-hover {
  background: @OMGgreen url(/assets/icons/social_small/tumblr_white.png) no-repeat; //#3a5976
}

.social-small-twitter {
  background: #ffffff url(/assets/icons/social_small/twitter_grey.png) no-repeat;
}

.social-small-twitter-hover {
  background: @OMGgreen url(/assets/icons/social_small/twitter_white.png) no-repeat; //#48c4d2
}
.social-small-pinterest {
  background: #ffffff url(/assets/icons/social_small/pinterest_grey.png) no-repeat;
}

.social-small-pinterest-hover {
  background: @OMGgreen url(/assets/icons/social_small/pinterest_white.png) no-repeat; //#C9232C
}
