div#spinner {
    display: none;
    
    position: absolute;
    
    color: #fff;
    font-weight: 700;
    text-align: center;
    
    height: 240px;
    width: 240px;
    padding: 15px;
    
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    
    z-index: -1;
    /*behavior: url(/ui/styles/border-radius.htc);*/
}
.ie-transparent-fix {
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00f2f2f2', GradientType=0)";
}