<!-- FIRST PANE - HOME -->
<div id="home">
  <div class="container" id="content">
    <div class="row-fluid" id="pre-login" style="padding-top:200px; min-height:440px">
      <div class="span6">
        <h1 class="h1lobster shadow" style="text-align:left; letter-spacing:1px;">Oh My <span class="h1lobster green">Green!</span></h1>
        <br><br>
        <h2 class="squeeze shadow" style="text-align:left; line-height:30px; margin-top:-40px; font-size:24px; font-family:'Lato'">Your 
          non-GMO & organic<br>online grocery store</h2>
        <br>

        <div class="product-images">
            <a data-toggle="lightbox" href="#lightBox">
              <img data-target="#photo1" src="<%= image_path("barnana.jpg") %>" alt="Banana based products from Barnana" width="90" height="90" style="width:90px;height:90px;" class="circular"/>
              <img data-target="#photo2" src="<%= image_path("bhaktiChai.jpg") %>" alt="Chai products from Bhakti Chai" width="90" height="90" style="width:90px;height:90px;" class="circular"/>
              <img data-target="#photo4" src="<%= image_path("plumOrganics.jpg") %>" alt="Products from Plum Organics" width="90" height="90" style="width:90px;height:90px;" class="circular"/>
              <a href="http://blog.ohmygreen.com/?category=Vendors" style="padding-left:10px">
                <img src="<%= image_path("yourProduct.jpg") %>" alt="Want to see your product here?" width="90" height="90" style="width:90px;height:90px;" class="circular"/>
              </a>
            </a>
        </div>

        <div id="lightBox" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
          <div class='lightbox-header'>
            <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
          </div>
          <div class='lightbox-content'>
            <div id="myCarousel" class="carousel slide">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div id="photo1" class="item active"><img src="<%= image_path('barnana.jpg') %>" alt="Banana based products from Barnana"/>
                  <div class="lightbox-caption"  style="width:97%"><p>Barnana Banana Snacks (with our without chocolate)</p></div>
                </div>

                <div id="photo2" class="item"><img src="<%= image_path('bhaktiChai.jpg') %>" alt="Chai products from Bhakti Chai"/>
                  <div class="lightbox-caption"><p>Delicious Bhakti Chai</p></div>
                </div>
                <div id="photo4" class="item"><img src="<%= image_path('plumOrganics.jpg') %>" alt="Products from Plum Organics"/>
                  <div class="lightbox-caption"><p>Plum Organics Food for Toddlers</p></div>
                </div>
              </div>
              <!-- Carousel nav -->
              <a class="carousel-control left" href="#myCarousel" data-slide="prev" style="padding-left:10px; ">&lsaquo;</a>
              <a class="carousel-control right" href="#myCarousel" data-slide="next" style="padding-left:10px">&rsaquo;</a>
            </div>
          </div>
        </div>
      </div>
      <br>

    <div class="span6 white-transparency sharing 6">
      <div>
        <p class=" black" style="text-align:center;font-size:14px">Get notified of our launch this summer. We donate a percentage of our proceeds to charity.</p>
        <a style="margin-top:10px; padding: 22px ;text-align:left;"
          class="btn btn-large btn-block btn-success login-button"
          rel="popover"
          data-placement="bottom"
          title="You have a choice to allow posting or not. If you allow us to post, we post a welcome message and gratitude badges to your Facebook wall to make supporting organic products easier for your friends.">
          <div class="facebook"></div>
          <b style="font-size: 19px">SIGN ME UP WITH FACEBOOK</b>
        </a>
        <div class="span12">                       
          <div class="btn-appear1" align="center">
            <h1 class="black" style="font-size:22px; margin:-10px; padding:0px">or</h1> 
            <%= render('shared/signup_form') %>
          </div>
        </div>
      </div>
  </div>
</div>
  <div class="row-fluid " id="post-login" style="display: none;"></div>
    </div>
</div>


<!-- SECOND PANE - WELCOME -->
<div id="welcome">
  <div align="center"> <a class="about" style="cursor:pointer"><img src="<%= image_path('arrow-down.png')%>" style="margin: -4px 0 0 0"/></a> </div>
  <br><br><br>
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1 class="center">What's different about us?</h1>

        <div class="span12" align="center">
          <img class="lazy" src="<%= image_path('ourDifference.png') %>" alt="Why are we different?" />
        </div> <!-- /span -->

        <div align="center"><h2>Our Advisors and Supporters</h2></div>
        <ul class="thumbnails">
          <li class="span3">
          <div  class="thumbnail" rel="popover" data-placement="bottom" title="Supported by Moms Across America" >
            <img class="lazy" src="<%= image_path('people/momsAcrossAmerica.jpg') %>" alt="Supported by Moms Across America">
          </div>
          </li>
          <li class="span3">
          <div  class="thumbnail" rel="popover" data-placement="bottom" title="Supported by Ray Dalio, founder of Bridgewater Associates" >
            <img class="lazy" src="<%= image_path('people/rayDalio.jpg') %>" alt="Supported by Ray Dalio, founder of Bridgewater Associates">
          </div>
          </li>
          <li class="span3">
          <div  class="thumbnail" rel="popover" data-placement="bottom" title="Supported by the Stanford Business School's Center for Entrepreneurial Studies" >
            <img class="lazy" src="<%= image_path('people/stanford.jpg') %>" alt="Supported by the Stanford Business School's Center for Entrepreneurial Studies">
          </div>
          </li>
          <li class="span3">
          <div class="thumbnail" rel="popover" data-placement="bottom" title="Supported by Tom Kosnik, Professor at Stanford" ?>
            <img class="lazy" src="<%= image_path('people/tomKosnik.jpg') %>" alt="Supported by Tom Kosnik, Professor at Stanford">
          </div>
          </li>
        </ul>
        <ul class="thumbnails">
          <li class="span3">
          <div  class="thumbnail" rel="popover" data-placement="bottom" title="Supported by Base CRM" >
            <img class="lazy" src="<%= image_path('people/baseCRM.jpg') %>" alt="Supported by Base CRM">
          </div>
          </li>
          <li class="span3">
          <div  class="thumbnail" rel="popover" data-placement="bottom" title="Gunderson Dettmer, our legal representatives" >
            <img class="lazy" src="<%= image_path('people/gd.jpg') %>" alt="Gunderson Dettmer, our legal representatives">
          </div>
          </li>
          <li class="span3">
          <div  class="thumbnail" rel="popover" data-placement="bottom" title="Supported by HelloFax" >
            <img class="lazy" src="<%= image_path('people/helloFax.jpg') %>" alt="Supported by HelloFax">
          </div>
          </li>
          <li class="span3">
          <div class="thumbnail" rel="popover" data-placement="bottom" title="Supported by Duoplane" >
            <img class="lazy" src="<%= image_path('people/duoplane.jpg') %>" alt="Supported by Duoplane">
          </div>
          </li>
        </ul>
      </div>

    </div>
    <div class="row">
      <div align="center"><h2>What the community is saying</h2>	 
      <img src="<%= image_path('testimonials.png') %>" alt="Twitter testimonials of our community" width="940" height="722" align="center"/>       
      </div>
    </div>
    <br>
    <p class="center">Join the movement by <a class="signup pointer">signing up</a></p>
  </div>

  <div class="container">
    <div class="row">
      <div class="span12">&nbsp;</div>
    </div>
    <div class="row">
      <div class="span12">&nbsp;</div>
    </div>
    <div class="row">
      <div class="span12">&nbsp;</div>
    </div>
    <div class="row">
      <div class="span12">&nbsp;</div>
    </div>
    <div class="row">
      <div class="span12">&nbsp;</div>
    </div>
  </div>
</div>

<!-- THIRD PANE - MISSION -->
<div id="mission">
  <div class="story">

    <!-- top padding -->
    <div class="container">
      <div class="row">
        <div class="span12">&nbsp;</div>
      </div>
      <div class="row">
        <div class="span12">&nbsp;</div>
      </div>
      <div class="row">
        <div class="span12">&nbsp;</div>
      </div>
      <div class="row">
        <div class="span12">&nbsp;</div>
      </div>
      <div class="row">
        <div class="span12">&nbsp;</div>
      </div>
      <div class="row">
        <div class="span12">&nbsp;</div>
      </div>
      <div class="row">
        <div class="span12">&nbsp;</div>
      </div>
      <div class="row">
        <div class="span12">&nbsp;</div>
      </div>
    </div>

    <div class="container">
      <div class="row-fluid">

        <div class="span12">
          <div class="hero-unit">
            <h1 style="">Our mission is to help people lead a healthy and blissful life.</h1>
            <br>
          </div>
          <div class="odyssey">
            <p style="padding:6px;text-transform: uppercase;padding-left:20px; letter-spacing: 1px; font-size:14px; font-weight:700">Continue</p>
          </div>
          <br><br><br><br><br><br>
        </div>

      </div>
    </div>

  </div>
</div>


<!-- FOURTH PANE - STORY -->
<div id="story">
  <!-- padding top -->
  <div class="container">
    <div class="row">
      <div class="span12">&nbsp;</div>
    </div>
    <div class="row">
      <div class="span12">&nbsp;</div>
    </div>
    <div class="row">
      <div class="span12">&nbsp;</div>
    </div>
    <div class="row">
      <div class="span12">&nbsp;</div>
    </div>
    <div class="row">
      <div class="span12">&nbsp;</div>
    </div>
  </div>

  <div class="container">
    <div class="story">
      <div class="row-fluid">
        <div class="span12">
          <h1 class="black">Our Story</h1>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span6">
          <br>
          <div class="row-fluid">
            <div class="span6">
              <img class="lazy" src="<%= image_path('people/michael.jpg') %>" alt="Picture of Michael Heinrich">
            </div>
            <div class="span6">
              <img class="lazy" src="<%= image_path('people/jonathan.jpg') %>" alt="Picture of Jonathan Chang">
            </div>
          </div>
          <div class="row-fluid" >
            <div class="span12">

              <p style="text-align:left;padding-top:10px;padding-bottom:15px;">Michael's grandmother has an organic garden in Germany. He enjoyed many home cooked meals from her. When he first moved to the U.S. and tasted regular supermarket fruits and vegetables they tasted like plastic. He eventually discovered Whole Foods and its organic foods. Jonathan discovered green products through Michael and never looked back...</p>
            </div>
          </div> 
          <div class="row-fluid" >
            <div class="span6">
              <img class="lazy" src="<%= image_path('people/lorenzo.jpg') %>" alt="Picture of Lorenzo Vila">
            </div>
            <div class="span6">
              <img class="lazy" src="<%= image_path('people/xisco.jpg') %>" alt="Picture of Xisco Vila">
            </div>
          </div>
          <div class="row-fluid" >
            <div class="span12">
              <p style="text-align: left; padding-top:10px;">Xisco and Lorenzo grew up on a Mediterranean Island when all food still came from local, sustainable, organic farms. Their parents even owned a local, organic grocery store! When the big supermarket chains arrived and the local stores and farms started disappearing, they quickly discovered the big negative difference in taste and health.</p>
            </div>
          </div>
          <div class="row-fluid">
            <h2 >Oh My Green's Beginnings</h2>
            <p style="text-align:left">The four founders (Michael, Jonathan, Lorenzo, and Xisco) met while attending a meditation course. The twice a day meditation opened our eyes not only to the possibility of transforming our lives, but also the lives of others. We aim to do this by restoring integrity to the goods we buy and consume. We realized misleading marketing has often replaced truth. To counter this we developed our motto: “Share Goods With Integrity.” This will promote good health for individuals and also help maintain a clean and sustainable planet.</p>
            <br><br><br>
          </div>
        </div>  
        <div class="offset1 span5">
          <div class="row">
            <div class="span12">
              <!-- <h2 style="">Our Manifesto for Healthy and Blissful living</h2> -->
              <br><img class="lazy" src="<%= image_path('manifesto.png') %>" alt="The Oh My Green Manifesto" width="100%"/>
            </div>
          </div>
          <div class="row">
            <div class="span12" align="center"><br>
              <div class="addthis_toolbox addthis_default_style addthis_32x32_style" align="">
                <a class="addthis_button_facebook grey">
                  <button class="btn pull-left" style="margin-right:10px;"><i class="icon-facebook-sign"></i> Facebook post</button>
                </a>
                <a class="addthis_button_twitter grey">
                  <button class="btn pull-left" style="margin-right:10px;"><i class="icon-twitter"></i> Tweet</button>
                </a>
                <a class="addthis_button_pinterest_share grey" addthis:title="Oh My Green! Discover curated, delicious, and healthy Organic and non-GMO foods!">
                  <button class="btn pull-left"><i class="icon-pinterest"></i> Pin it</button>
                </a>
              </div>	
            </div>
          </div>
          <!-- row -->

          <!-- ADDTHIS CONFIG -->
          <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
          <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5113ed8c6ca4fa40"></script>
          <script type="text/javascript">
              var addthis_config = { data_track_clickback: true };
              var addthis_share = addthis_share || {}
              addthis_share = {
                passthrough : {
                  twitter: { via: "ohmygreen1", text: "OMG! I found a non-GMO and organic online grocery store." }
                }
              }
            </script>
            </div>
            <br><br><br><br>
          </div>
        </div>
      </div>
    </div>

    <!--- FIFTH PANE - PRINCIPLES -->
    <div id="principles">

      <!-- padding top -->
      <div class="container">
        <div class="row">
          <div class="span12">&nbsp;</div>
        </div>
        <div class="row">
          <div class="span12">&nbsp;</div>
        </div>
        <div class="row">
          <div class="span12">&nbsp;</div>
        </div>
        <div class="row">
          <div class="span12">&nbsp;</div>
        </div>
        <div class="row">
          <div class="span12">&nbsp;</div>
        </div>
      </div>

      <div class="story">
        <div class="container">
          <div class="row">
            <div class="span12">
              <h1 class="black">Our Principles</h1>
            </div>
          </div>
          <br>
          <div class="row">        
            <div class="span4" > 

              <h2><div class = "principle">
                  <div class = "initial">
                    F<br>
                    O<br>
                    R<br>
                    C<br>
                    E<br>
                  </div>
                  <div class = "non-initial">
                    un<br>
                    pen<br>
                    espectful<br>
                    ollaborative<br>
                    xcellent<br>
                  </div>
              </div></h2>
            </div>
            <div class="offset1 span7">
              <h2 class="black">Integrity</h2>
              <p class="black">Integrity is our goal and most important principle. Integrity means to be whole, and behave in accordance with our values and ethical beliefs. We believe in restoring integrity to what we consume. We aim to enjoy products in harmony with values that promote health, sustainability, and bliss.</p>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span12" >

              <div class="span4" style="margin-top:170px;">
                <h2 class="black">Our Vendor Standards</h2>
                <p class="black">Our curators have high vendor standards so that we can make discovery fun for you and save you time. At the same time, we are just a humble group of dedicated greenerds and always appreciate feedback from our community.</p><p class="black"> Think you are our type of vendor? Learn more on <a href="http://blog.ohmygreen.com/blog/?category=Vendors" target="blank" class="black">our blog</a>.</p>
              </div>
              <div class="offset1 span7 ">
                <br><p><img class="lazy" src="<%= image_path('vendorVerification.png') %>" width="100%" alt="Our curators have high vendor standards so that we can make discover fun for you and save you time"/></p><br><br><br><br>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- LAST PANE - THE TEAM -->
    <div id="team">

      <!-- padding top -->
      <div class="container">
        <div class="row">
          <div class="span12">&nbsp;</div>
        </div>
        <div class="row">
          <div class="span12">&nbsp;</div>
        </div>
        <div class="row">
          <div class="span12">&nbsp;</div>
        </div>
        <div class="row">
          <div class="span12">&nbsp;</div>
        </div>
        <div class="row">
          <div class="span12">&nbsp;</div>
        </div>
      </div>

      <div class="container">
        <div class="story">
          <div class="row-fluid">
            <div class="span12">
              <div align=""><h1>Hello from OMG! <!-- <span class="rnd">html</span> --></h1></div>
              <p></p>
              <div align=""><p>
                <blockquote>When you do things from your soul, you feel a river moving in you, a joy. - Rumi</blockquote>
                </p></div><br><br>
              </div>
              <h2>The Greenerds</h2>
              <ul class="thumbnails">
                <li class="span3">
                <div class="thumbnail" rel="popover" data-placement="bottom" title="Michael. Co-Founder. At OMG!, Michael is a rare combination of business, technology, and design thinker. On any given day, he is either eating organic gelato or organic vegetarian food in New York’s SoHo district or chilling at Stanford University. Michael aspires to meditate in the Himalayas.">
                  <img class="lazy" src="<%= image_path('people/michael.jpg') %>" alt="Picture of Michael Heinrich">
                </div>
                </li>
                <li class="span3">
                <div class="thumbnail" rel="popover" data-placement="bottom" title="A serial entrepreneur, Jonathan credits his commitment to sustainability and social impact issues to the time he spent growing up in Southeast Asia and teaching and conducting research in Rwanda and India. The people (farmers, social entrepreneurs, genocide survivors, and underprivileged youths) whom he interacted with have made a profound and lasting impact on his view of the world. Jonathan studies business at Stanford and public policy at Harvard.">
                  <img class="lazy" src="<%= image_path('people/jonathan.jpg') %>" alt="Picture of Jonathan Chang">
                </div>
                </li>
                <li class="span3">
                <div class="thumbnail" rel="popover" data-placement="bottom" title="Lorenzo. Co-Founder. Lorenzo has been very conscious about pursuing a healthy lifestyle since an early age. He is passionate about sports and nature and has a special bond with the Mediterranean sea. Lorenzo manages to balance his entrepreneurial life (20+ years, running 4 companies) with a periodic surf trip to Bali, Indonesia. Here he can feel fully connected to the Earth." >
                  <img class="lazy" src="<%= image_path('people/lorenzo.jpg') %>" alt="Picture of Lorenzo Vila">
                </div>
                </li>
                <li class="span3">
                <div  class="thumbnail" rel="popover" data-placement="bottom" title="Xisco. Co-Founder. Xisco is a great example of a serial entrepreneur, with 20 + years experience and 4 companies, he has the charisma and natural skill to problem solve. A lover of the Mediterranean way of life, Xisco acquired a higher consciousness about healthy food and lifestyle when he became the father of his two children Virginia and Enrique. He is also an avid gym goer." >
                  <img class="lazy" src="<%= image_path('people/xisco.jpg') %>" alt="Picture of Xisco Vila">
                </div>
                </li>

              </ul>
              <ul class="thumbnails">
                <li class="span3">
                <div class="thumbnail" rel="popover" data-placement="bottom" title="Marina. Social Media Manager & Curator. Speaking 6 languages (English, German, Russian, Italian, Japanese, French), Marina is able to use a foreign language when she talks in her sleep. Marina loves living a green lifestyle and even makes her own organic homegrown beauty products! She thinks green is the way of the future." >
                  <img class="lazy" src="<%= image_path('people/marina.jpg') %>" alt="Picture of Marina Heinrich">
                </div>
                </li>
                <li class="span3">
                <div class="thumbnail" rel="popover" data-placement="bottom" title="Kent. Senior Developer. Ever since Kent lived in Manhattan, he has dressed more and more like a Hong Kong movie star. Though he is up to date with fashion, he is still an engineer by heart and committed to Oh My Green!’s mission beyond the wall of code on his computer. Kent enjoys running daily." >
                  <img class="lazy" src="<%= image_path('people/kent.jpg') %>" alt="Picture of Kent Yip">
                </div>
                </li>                            
                <li class="span3">
                <div  class="thumbnail" rel="popover" data-placement="bottom" title="Ibrahim, Ibrahim grew up loving the great outdoors as a native of New Hampshire, and wants to protect our beautiful, green world! Ibrahim also lived in places across the world--Chicago, D.C., Northern Ireland, Egypt--to learn from the wisdom of people working to solve complex social problems through innovative ideas. Ibrahim is a student at Stanford Law School." >
                  <img class="lazy" src="<%= image_path('people/ibrahim.jpg') %>" alt="Picture of Ibrahim Elshamy">
                </div>
                </li>
                <li class="span3">
                <div  class="thumbnail" rel="popover" data-placement="bottom" title="Ivy, OMG! Fellow. Ivy is an MA in Education at Stanford. Her interests are education, design, technology, and entrepreneurship. In Summer 2011, she biked across the U.S. (>4500 miles from New York City - San Francisco) with 27 riders and raised $125,000 for the American Cancer Society." >
                  <img class="lazy" src="<%= image_path('people/ivy.jpg') %>" alt="Picture of Ivy Guo">
                </div>
                </li>
              </ul>
              <ul class="thumbnails">
                <li class="span3">
                <div class="thumbnail" rel="popover" data-placement="bottom" title="The Yogi. Though we don't know this yogi personally, he is a great reminder to not take ourselves too seriously and to take life as it comes!" ?>
                  <img class="lazy" src="<%= image_path('people/yogi.jpg') %>" alt="Picture of a Yogi">
                </div>
                </li>
                <li class="span3">
                <a href="mailto:force@ohmygreen.com"><div class="thumbnail" rel="popover" data-placement="bottom" title="Email us at force@ohmygreen.com" ?>
                    <img class="lazy" src="<%= image_path('people/you.jpg') %>" alt="Join us to do purposeful work!">
                </div></a>
                </li>
              </ul>
              <br><br>
            </div>
          </div>
        </div>
      </div>
