<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me.ns/fb#">
<head>
 <title>Oh My Green! - Your hand-selected organic and non-GMO online grocery store. We make it easy for you to discover, buy, and share foods you love!</title>

 <%= render "shared/meta" %>

 <!-- CSS and JS Imports -->
  <link rel="shortcut icon" href="<%= image_path('ohmygreen_logo_icon.png') %>">
  <script type="text/javascript">var app_facebook_app_id = "{{ app.facebook_app_id }}";</script>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <!--[if IE 9]>
    <%= stylesheet_link_tag("ie.9.top.social.buttons.fix.css") %>
  <![ENDIF]-->
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <%= stylesheet_link_tag('nav.round.social.buttons.ie8.css') %>
  <![endif]-->
  <!--[if IE]>
    <%= stylesheet_link_tag('ie.navbar.transparent.fix.css') %>
  <![endif]-->
</head>
<body data-spy="scroll" data-offset="10" id="page">

  <!-- FB JS SDK -->
  <%= render 'shared/fbsdk' %>

  <div class="spinner black-transparency ie-transparent-fix" id="spinner">
      <p style="padding:10px" class="shadow">Sharing options are loading...</p>
  </div>

  <!-- HEADER -->
  <%= render 'shared/header' %>

  <!-- MAIN CONTENT -->
  <%= yield %>

  <!-- FOOTER -->
  <%= render 'shared/footer' %>
</body>
</html>
